html {
    color: #515E63;
	font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #F1ECC3;
    margin: 1em;
}

a:active { 
    color: #515E63;
}

a:hover {
    color: #57837B;
    text-decoration: underline;
}

a:link {
    color: #515E63;
}

a:visited {
    color: #515E63;
}

h1 {
    color: #57837B;
}

li::before {
    content: "🎁";
  }

ul {
    list-style-type: none;
    padding: 0;
}