html {
    color: #657b83;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #fdf6e3;
    margin: 1em;
}

a:link {
    color: #515E63;
    text-decoration: none;
}

a {
    padding: 0 10px;
    font-weight: bold;
}

a:visited {
    color: #2aa198;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #2aa198;
    text-decoration: underline;
}

a:active { 
    color: #2aa198;
    text-decoration: none;
    font-weight: normal;
}

h1 {
    color: #586e75;
}

table { 
    border-collapse: collapse; 
    width: 100%; 
} 
          
th, td { 
    text-align: left; 
    padding: 8px; 
} 
          
tr:nth-child(even) { 
    background-color: #073642; 
} 
