html {
    color: #515E63;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #F1ECC3;
    margin: 1em;
}

a:link {
    color: #515E63;
    text-decoration: none;
}

a {
    padding: 0 10px;
}

a:visited {
    color: #515E63;
    text-decoration: none;
}

a:hover {
    color: #57837B;
    text-decoration: underline;
}

a:active { 
    color: #515E63;
    text-decoration: none;
}

h1 {
    color: #57837B;
}

table, th, td {
  border: 2px solid #57837B;
}
